h1 {
    text-align: center;
    font-size: 50px;
    color: #a43434;
    font-style: italic;
    font-outline: 20px solid #080808;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    text-align: center;
    font-size: 30px;
    color: rgba(242, 28, 4, 0.58);
    font-family: 'dancing script', cursive;
    margin-top: 10px;
    margin-bottom: 50px;
}